<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d890fada-f7ac-4539-8ea2-11ca135f7752" name="TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d890fada-f7ac-4539-8ea2-11ca135f7752fileName">TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
